body {
  font-family: "poppins", sans-serif;
  color: #040404;
}

h1 {
  font-family: "poppins", sans-serif;
}
h3 {
  font-weight: 500 !important;
  font-size: 24px !important;
}
.pb-5 {
  padding-bottom: 7rem !important;
}
.pt-5 {
  padding-bottom: 7rem !important;
}
.mt-5 {
  margin-top: 6rem !important;
}
.cus-nav {
  margin-left: 150px;
  margin-right: 150px;
}

.login {
  background-color: #f42535;
  color: white;
  border: none;
  font-size: 16px;
}

.register {
  background-color: #414042;
  color: white;
  border: none;
  margin: 7px;
  font-size: 16px;
}
.btn-group-sm > .btn,
.btn-sm {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 0.9rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
  border: none;
}
.Roger {
  background-color: white;
  color: black;
  border: none;
}
.txs-mx {
  width: 55%;
}
a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
p {
  font-size: 16px;
}
.tx-cr {
  color: #000;
}
.navbar-custom {
  background-color: white;
  padding: 20px 0px 20px;
}

.pill-container {
  border: 1px solid #eeeeee;
  padding: 0px 2px 0px 10px;
}

.navbar-brand {
  margin-right: auto;
}
.search-icon {
  margin-top: 8px;
}

.carousel-item {
  position: relative;
  transition: 3.1s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-grey-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #142745;
  font-family: "poppins", sans-serif;
  color: white;
  font-size: 24px;
  text-align: center;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  /* height: 95vh; */
  object-fit: cover;
  transition: 2.5s ease-in;
}

.mlr {
  margin-right: 120px;
}

.carousel-inner {
  background-color: transparent;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: start;
  padding: 0;
  margin-bottom: 2rem;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 12px;
  border: 1px solid white;
}

.carousel-indicators .active {
  background-color: white;
  opacity: 1;
}

.last {
  background-color: #142745;
}
.last img {
  height: auto;
  width: auto;
  object-fit: cover;
}

.darky {
  background-color: #e6e7e8;
}
.smoke {
  background-color: #e6e7e8 20%;
}
.high {
  background-color: whitesmoke;
}
.text-container {
  color: white;
  width: 23%;
  text-align: left;
  line-height: 1.4;
  
}
.text-container-last {
  color: white;
  width: 85%;
  text-align: left;
  line-height: 1.4;
  display: flex;
  /* gap: 100px; */
}

.text-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem; /* Adjust font size */
  font-size: 54px;
}

.text-container .btn-light {
  color: #000;
  background-color: #fff; 
  border-color: #fff; 
}
button.btn.btn-sm.btn-light.rounded-pill:active {
  background-color: #f42535;
}
.text-adjust {
  position: absolute;
  top: 15%;
  width: 100%;
}

.grid-item {
  transition: background-color 0.3s ease;
  width: 360px;
  padding-top: 45px;
}
.gap-slider {
  gap: 20px;
}

.anima {
  transform: translateX(0%);
  transition: transform 0.5s;
}

.grid-item:hover {
  /* background-color: white; */
  border: none;
}
.mb-5 {
  margin-bottom: 5em !important ;
}
.cus-h5 {
  margin-top: 62px;
  font-weight: 600;
}

.txt-wd {
  width: 65%;
}
.me-3 {
  margin-right: 4rem !important;
}

.ban-hd {
  font-family: Poppins;
  font-size: 54px;
  font-weight: 500;
  line-height: 67.5px;
  text-align: center;
}

.pad-rl {
  padding-left: 150px;
  padding-right: 150px;
}

.icon i {
  color: #000; /* Icon color */
}

.icon-circle {
  width: 120px;
  height: 120px;
  background-color: #2e2e2e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 20px #bcbec0;
  margin-left: auto;
  margin-right: auto;
}
.sp-ht-wd {
  width: 52px;
  height: 52px;
}
.icon-bg {
  padding: 20px;
  background-color: #f42535;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 60px;
  top: -53px;
  left: 220px;
}

.icon {
  font-size: 36px;
  color: #fff;
}

.icon-circle svg {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.icon-circle img {
  width: 50%;
  height: 50%;
}

.rounded {
  border-radius: var(--bs-border-radius) !important;
  height: 300px;
}

.mt-6 {
  margin-top: 5rem !important;
}
.ih {
  height: 100% !important;
  width: 100% !important;
}

.mt-7 {
  margin-top: 30rem !important;
}
.ng-col {
  top: 430px;
  left: 221px;
  z-index: 10;
}

.fw-bold {
  font-weight: 600 !important;
}

.row > * {
  flex-shrink: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.dotted {
  border-top: 1.7px dotted black;
  margin: 15px 0;
}

.custom-1 {
  width: 45px;
  height: 106px;
}
.custom-2 {
  width: 74px;
  height: 107px;
}
.custom-3 {
  width: 75px;
  height: 109px;
}

.mx-2 {
  margin-right: 1.2rem !important;
}
.mx-3 {
  margin-left: 8.5rem !important;
  margin-right: 8.5rem !important;
  margin-top: 10%;
}
.txt-fon {
  font-size: 14px;
  text-align: right;
}
.footer {
  background-color: #2e2e2e;
}

.p-w {
  width: 74%;
}

.glass-grid {
  backdrop-filter: blur(8px);
  border: 1.5px solid white;
  border-radius: 50px;
  padding: 60px;
  height: 444px;
  width: 353px;
  margin: 5px;
  text-align: -webkit-center;
}
.glass-image {
  margin-bottom: 20px;
  justify-content: center;
  margin: 0;
}

.img-wrap {
  background-color: white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-wrap:hover {
  background-color: #f42535;
}

.slide {
  overflow: hidden;
  width: 100%;
}
.d-flex {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.grid-item {
  flex: 0 0 auto;
  max-width: 100%;
  margin: auto;
  position: relative;
}

.icon-circle {
  border-radius: 50%;
  padding: 10px;
  z-index: 10;
  position: relative;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -22%;
  z-index: 5;
  position: relative;
  background: white;
  padding: 32px;
  border-radius: 50px;
  min-height: 380px;
  color: black;
}

.grid-item-glass {
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: top;
  /* background-position-x: 40%; */
  border-radius: 10px;
  position: relative;
  padding: 0.8rem;
  padding-top: 60px;
  width: 353px;
}
.grid-item {
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 10px;
  position: relative;
  padding: 30px;
}
.gap-slider {
  gap: 30px;
}
.slide-cont {
  width: 83%;
}
.slide {
  overflow: hidden;
  width: 100%;
}

.content {
  margin: auto;
  width: 600px;
}
.slider {
  background-color: #000;
}

.progress {
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  background-image: linear-gradient(to right, #2e2e2e, #2e2e2e);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.slick-next:before {
  content: "→";
  color: #2e2e2e;
}

.G-line {
  position: relative;
  display: flex;
}
#prev,
#next {
  width: 40px;
  height: 40px;
  position: absolute;
  transform: translateY(-22px);
  background-color: #2e2e2e;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 10;
  cursor: pointer;
}
#prev{
  left: 1%;
}
#next{
  right: 1%;
}

#prev,
#next {
  width: 30px;
  height: 30px;
  position: relative;
  top: 11px;
  background-color: #2e2e2e;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 10;
  cursor: pointer;
}

#prev:hover,
#next:hover {
  background-color: #333;
}

.text-decoration-none {
  text-decoration: none !important;
  color: #929292;
}
.fon-si {
  font-size: 18px;
}
.txt-fon {
  text-align: right;
}
.gap-cls {
  gap: 10%;
}
.bene-p {
  flex: 0 0 auto;
  width: 45%;
}

.grid-item-glass {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.grid-item-glass:hover {
  transform: scale(0.95);
}

.grid-item-glass .glass-container {
  transition: transform 0.3s ease;
}

.grid-item-glass:hover .glass-container {
  transform: scale(1s);
}

.img-wrap {
  position: relative;
}

.grid-item-glass:hover .hover-image {
  display: block;
}
.grid-item-glass:hover .normal-image {
  display: none;
}

.grid-item-glass {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.grid-item-glass:hover .img-wrap {
  background-color: #f42535;
}

.img-wrap {
  background-color: white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s ease;
}

.glass-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: opacity 0.3s ease;
  position: absolute;
  z-index: 1;
}

.normal-image {
  display: block;
}

.hover-image {
  display: none;
}

.grid-item-glass:hover .normal-image {
  display: none;
}

.grid-item-glass:hover .hover-image {
  display: block;
}
.img-wrap .hover-image {
  align-items: center;
}
.justi-cen{
  justify-content: end;
}
.foobotto{
  margin-bottom: 5rem;
}
.fobo-mr{
  margin-top: 4.5rem;
}
.glass-width {
  width: 100%;
}
.pica {
  line-height: 85.5px;
  font-size: 1.2em;
  width: 165%;
  font-weight: 500;
}
.wi-fir {
  width: 35%;
}
.wi-sec {
  line-height: 67.5px;
  font-size: 4rem;
  width: 165%;
  font-weight: 500;
}
.ban-lef{
  left: 10.5%;
}
@media (max-width: 1000px) {
  .wi-sec{
    line-height: 24.5px;
    font-size: 1.2rem;
    width: 165%;
    font-weight: 500;
}
  .wi-fir {
    width: 45%;
  }
  .glass-width {
    width: 80% !important;
  }

  .pica {
  line-height: 24.5px;
  font-size: 1.1rem;
  font-weight: 500;
}

  .mx-2 {
    margin: 1.2rem !important;
  }
  .fobo-mr {
    margin-top: 0.2rem;
    justify-content: center;
}
.foobotto{
  margin-bottom: 3.5rem;
}
  .fo-pho{
      margin: auto;
  }
  .col-md-6.d-flex.flex-column.mt-5 {
    width: 100%;
}
  .bene-p {
    flex: 0 0 auto;
    width: 100%;
  }
  .pad-rl {
    padding-left: 0px;
    padding-right: 0px;
  }
  p {
    font-size: 14px;
  }
  .fon-si {
    font-size: 11px;
  }
  .txt-fon {
    text-align: center;
  }

.col-md-6.d-flex.flex-lg-column.flex-md-row.text-lg-right.pt-3 {
    justify-content: center;
}
.col-md-6.d-flex.flex-lg-column.flex-md-row.text-lg-right.mt-5 {
  justify-content: center;
}
.justi-cen{
  justify-content: center;
}
  .text-container {
    color: white;
    width: 55%;
    padding-left: 30px;
    text-align: left;
    line-height: 1.4;
  }
  .gap-slider {
    transition: transform 0.5s ease;
  }
  .slide-content {
    height: 350px;
    width: 275px;
    margin: auto;
  }
  .tx-sec {
    width: 85%;
    margin-top: 0;
  }
  .carousel-item img {
    width: 50%;
    object-fit: cover;
    padding: auto;
  }
  .carousel-item img {
    object-fit: cover;
    transition: 2.5s ease-in;
}

  .cus-nav {
    margin-left: 40px;
    margin-right: 40px;
  }
  .p-w {
    width: 100%;
    text-align: center;
  }
  .txt-alg{
    text-align: center;
  }
  .glass-grid {
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 50px;
    padding: 35px;
    margin: 45px;
    text-align: -webkit-center;
  }
  .grid-item-glass {
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 10px;
    position: relative;
    padding: 0;
    padding-top: 35px;
    width: 100%;
  }

  .last img {
    height: auto;
    width: auto;
    object-fit: cover;
  }
  .mlr {
    margin: 0%;
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 0;
    margin-bottom: 1.5rem;
  }
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 9px;
    height: 2px;
    padding: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    background-clip: padding-box;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    border-radius: 12px;
    border: 1px solid white;
  }

  .ban-hd h1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
  }


  .text-adjust {
    position: absolute;
    top: 80px;
    left: 10%;
    transform: translate(-10%, -30%);
}

  .slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -15%;
    z-index: 5;
    position: relative;
    background: white;
    padding: 32px;
    border-radius: 50px;
    height: 350px;
    width: 275px;
    margin: auto;
  }
  .icon-circle {
    width: 100px;
    height: 100px;
    background-color: #2e2e2e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 20px #bcbec0;
    margin-left: auto;
    margin-right: auto;
    top: 45px;
  }

  .carousel-item .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .carousel-item .bg-white {
    height: auto; /* Adjust height to fit content */
    padding: 20px; /* Add some padding */
  }
  .flex-col {
    flex-direction: column; /* Stack images vertically */
  }
  .mx-3 {
    margin-left: 8.5rem !important;
    margin-right: 8.5rem !important;
    margin-top: 50%;
  }
  /* Mobile View - Stacking Grids Vertically */
  .row {
    flex-direction: column; /* Stack grids vertically */
    overflow-x: hidden;
  }
  .grid-item {
    margin-bottom: 1.5rem; /* Add margin between stacked items */
    width: 100%;
    transition: background-color 0.3s ease;
    width: 360px;
    padding-top: 20px;
  }
  .co-pa {
    padding: 4px 30px 4px 30px;
  }
  .polino-pad {
    padding-left: 30px;
    padding-right: 15px;
  }
  .txt-wd {
    width: 88%;
}
}




@media (min-width: 2560px) {
  .carousel-indicators {
    list-style-type: none;
    left: 9.75%;
  }
  .carousel-indicators [data-bs-target] {
    width: 40px;
    height: 15px;
  }
  .carousel-item img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  .tx-sec {
    width: 40%;
  }
  .txt-wd {
    width: 45%;
}
.text-adjust {
  position: absolute;
  top: 5%;
}
.ban-lef{
  left: auto;
}
}

.progress {
  border-radius: 0;
  height: 10px; /* Height of the progress bar */
  position: relative;
  overflow: hidden; /* Ensure that the moving line stays within the progress bar */
}
.progress::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000;
  border-radius: 10px;
  width: 33%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
